.containerb {
    padding: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 3px;
  }
  .cart {
    width: 650px;
    width: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #43a7ff0d;
    justify-content: space-between;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.112);
    margin: 0 auto;
    border-radius: 2px;
    margin-bottom: 2%;
    
  }
  .cart:hover {
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.23);
    background-color: #43a7ff33;
    transition-duration: 200ms;
  } 
  .subt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.781);
   
  }
  .subt:hover {
    text-decoration: underline;
  }
  .subt1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2%;
    color: rgba(0, 0, 0);
  }
  .subt1:hover {
    text-decoration: none;
  }
  .cityName {
    color: #071d29c7;
  }